.inputBox{
position: relative;
width: 300px;
height: 45px;
left: 5.33%;
right: 81.33%;
top: 24.44%;
bottom: 22.22%;
background: #224957;
border-radius: 10px;

/* Body/small */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
text-align: center;

/*color: #FFFFFF;*/
}

.inputBox.typing{
    background: #FFFFFF;
    border:  #224957;
border-radius: 10px;
background:#224957
}

.inputBox:error{
    background: #FFFFFF;
    border: 1px red;
border-radius: 10px;
color:red
}

.input-container {
    align-self: center;
    margin-bottom: 15px; 
        width: 300px;  
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  